body {
    // height: 100vh;
    background-color: #3C3B3F;
}

.panel-primary > .panel-heading {
    // background-color: #512DA8
}

.panel-body {
    background-color: #605e66
}

.panel-primary > .panel-heading.normal, .panel-body.normal, .normal {
    background-color: #A8A878
}

.panel-primary > .panel-heading.fire, .panel-body.fire, .fire {
    background-color: #F08030
}

.panel-primary > .panel-heading.fighting, .panel-body.fighting, .fighting {
    background-color: #C03028
}

.panel-primary > .panel-heading.water, .panel-body.water, .water {
    background-color: #6890F0
}

.panel-primary > .panel-heading.flying, .panel-body.flying, .flying {
    background-color: #A890F0
}

.panel-primary > .panel-heading.grass, .panel-body.grass, .grass {
    background-color: #78C850
}

.panel-primary > .panel-heading.poison, .panel-body.poison, .poison {
    background-color: #A040A0
}

.panel-primary > .panel-heading.electric, .panel-body.electric, .electric {
    background-color: #F8D030
}

.panel-primary > .panel-heading.ground, .panel-body.ground, .ground {
    background-color: #E0C068
}

.panel-primary > .panel-heading.psychic, .panel-body.psychic, .psychic {
    background-color: #F85888
}

.panel-primary > .panel-heading.rock, .panel-body.rock, .rock {
    background-color: #B8A038
}

.panel-primary > .panel-heading.ice, .panel-body.ice, .ice {
    background-color: #98D8D8
}

.panel-primary > .panel-heading.bug, .panel-body.bug, .bug {
    background-color: #A8B820
}

.panel-primary > .panel-heading.dragon, .panel-body.dragon, .dragon {
    background-color: #7038F8
}

.panel-primary > .panel-heading.ghost, .panel-body.ghost, .ghost {
    background-color: #705898
}

.panel-primary > .panel-heading.dark, .panel-body.dark, .dark {
    background-color: #705848
}

.panel-primary > .panel-heading.steel, .panel-body.steel, .steel {
    background-color: #B8B8D0
}

.panel-primary > .panel-heading.fairy, .panel-body.fairy, .fairy {
    background-color: #EE99AC
}


.loading-img {
    width: 100%;
    max-height: 220px;
    padding: 60px 100px;
}